body {
    background: #ddd;
}

.container {
    max-width: 500px;
}

.space {
    border: none;
    border: 2px solid #ddd;
}

.level-0 {
    background: #fff;
}

.level-1 {
    background: #8c8;
}

.level-2 {
    background: #cc5;
}

.level-3 {
    background: #c22;
}

.level-4 {
    background: #000;
}

.inputBuffer {
    border: 2px dashed;
}

.ai-options {
    background: white;
}
