app = ""

[build]
  dockerfile = "Dockerfile-fly"

[env]
  # Scaled to run on a 256MB RAM shared-cpu-1x instance
  MAX_ITERATIONS = 40000
  MAX_WORKERS = 1
  GUNICORN_WORKERS = 1

  UI_PATH = "/ui/index.html"

[[statics]]
  guest_path = "/opt/erastus/ui"
  url_prefix = "/ui"

[[services]]
  internal_port = 5000
  protocol = "tcp"
  hard_limit = 1

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
